# Visual Studio files

build/

.vs/
*.vcxproj.user
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.iml

# IntelliSense files
*.ipch
*.db

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/